. image_bannière{
    background-image: url (« cup-of-coffee-g871566e68_1920.jpg »);
    arrière-plan-répétition: pas de répétition;
taille de fond: couverture;
}

. kernel-widt{
    Largeur: 50px;
    Hauteur: 50px;
    font-size: 50px;
}
